
.app{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    display: flex;
}

input{
    width:200px;
    height: 30px;
    font-size:20px;
    margin:5px;
}